header {
  padding: 1.5rem 0;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  .site-typemark {
    font-family: $display-font;
  }

  .site-slogan {
    font-weight: 100;
  }

}
