// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oregano&display=swap');

$display-font: 'Oregano', cursive;
$sans-serif: 'Lato', sans-serif;

// Colors
$blue: #52b0e9;
$green: #4ad253;
$yellow: #cd7f02;