html, body {
  font-family: $sans-serif;
  background-color: #555;
  height: 100%;
}

body {
  position: relative;
}

main {
  position: relative;
  height: calc(100% - #{$header-height} - #{$footer-height});
  padding: 1rem 0;
  box-sizing: border-box;
  overflow: scroll;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

#add-todo-button {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 1rem;
  border-radius: 50%;
  background-color: $blue;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: 0.5s transform ease-in-out;
  transition: 0.5s background-color ease-in-out;
  transform: rotate(0);

  &.close {
    transform: rotate(45deg);
    background-color: $red;
  }
}

input[type="text"],
input[type="date"],
textarea, select {
  border: 1px solid lightgray;
  padding: 0.4rem;
  border-radius: 0.2rem;
}