@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oregano&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: initial;
  overflow: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  font-family: "Lato", sans-serif;
  background-color: #555;
  height: 100%;
}

body {
  position: relative;
}

main {
  position: relative;
  height: calc(100% - 11rem - 3rem);
  padding: 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

#add-todo-button {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 1rem;
  border-radius: 50%;
  background-color: #52b0e9;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  -webkit-transition: 0.5s -webkit-transform ease-in-out;
  transition: 0.5s -webkit-transform ease-in-out;
  transition: 0.5s transform ease-in-out;
  transition: 0.5s transform ease-in-out, 0.5s -webkit-transform ease-in-out;
  -webkit-transition: 0.5s background-color ease-in-out;
  transition: 0.5s background-color ease-in-out;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#add-todo-button.close {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ca3218;
}

input[type="text"],
input[type="date"],
textarea, select {
  border: 1px solid lightgray;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

header {
  height: 11rem;
  background-color: #52b0e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

header .site-typemark {
  font-family: "Oregano", cursive;
}

header .site-slogan {
  font-weight: 100;
}

#todo-list {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  height: 100%;
}

#todo-list .todo-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  overflow: unset;
}

#todo-list .todo-item .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

#todo-list .todo-item .main-info .checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 1rem;
}

#todo-list .todo-item .main-info .checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#todo-list .todo-item .main-info .checkbox .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #ddd;
  border-radius: 50%;
}

@media (hover: hover) {
  #todo-list .todo-item .main-info .checkbox:hover .checkmark {
    background-color: #ccc;
  }
}

#todo-list .todo-item .main-info .todo-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#todo-list .todo-item .main-info .category {
  margin-left: 1rem;
  font-size: 1.3rem;
  width: 2rem;
  height: 2rem;
}

#todo-list .todo-item .more-info {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

#todo-list .todo-item .more-info.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 500px;
  padding: 0.5rem 1rem;
}

#todo-list .todo-item .more-info .date-and-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#todo-list .todo-item .more-info .date-and-details .date-due {
  padding: 0.4rem 0;
}

#todo-list .todo-item .more-info .date-and-details .date-due span {
  font-weight: 700;
}

#todo-list .todo-item .more-info .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 300px;
  margin-left: 1rem;
}

#todo-list .todo-item .more-info .tag-list h3 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  width: 100%;
}

#todo-list .todo-item .more-info .tag-list .tag {
  background-color: #cd7f02;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  color: white;
  font-weight: 700;
}

#todo-list .todo-item.done .main-info .checkbox .checkmark {
  background-color: #4ad253;
}

#todo-list .todo-item.done .main-info .checkbox .checkmark::after {
  content: "✓";
  color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
}

footer {
  background-color: #1770c1;
  color: white;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  padding: 0 1.5rem;
}

#form-modal {
  position: absolute;
  background-color: #42424299;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#form-modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form-modal #form-container {
  background-color: #fff;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  padding: 2rem 2rem 1rem;
  position: relative;
  overflow: scroll;
}

#form-modal #form-container #modal-close {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0.6rem;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
  top: 1rem;
  right: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#form-modal #form-container h2 {
  margin-bottom: 1rem;
}

#form-modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form-modal form > * {
  margin-bottom: 1rem;
}

#form-modal form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form-modal form .form-group.inline {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#form-modal form .form-group.inline label {
  margin-right: 1rem;
}

#form-modal form .form-group.inline input {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#form-modal form .form-group label {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

#form-modal form .form-group .input-with-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form-modal form .form-group .input-with-submit input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.5rem;
}

#form-modal form .form-group .input-with-submit button {
  border-radius: 6px;
}

#form-modal form .category-label {
  margin-left: 1rem;
}

#form-modal form button {
  background-color: #52b0e9;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#form-modal form #form-tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.3rem;
}

#form-modal form #form-tag-list li {
  background-color: #cd7f02;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form-modal form #form-tag-list li::after {
  content: "+";
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
/*# sourceMappingURL=main.css.map */