@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oregano&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: initial;
  overflow: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  font-family: "Lato", sans-serif;
  background-color: #555;
  height: 100%;
}

main {
  position: relative;
  height: calc(100% - 11rem - 2rem);
  padding: 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

#add-todo-button {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 1rem;
  border-radius: 50%;
  background: #52b0e9;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

header {
  height: 11rem;
  background-color: #52b0e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

header .site-typemark {
  font-family: "Oregano", cursive;
}

header .site-slogan {
  font-weight: 100;
}

.todo-list {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo-list .todo-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
}

.todo-list .todo-item .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.todo-list .todo-item .main-info .checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  padding-left: 2rem;
  margin-right: 1rem;
}

.todo-list .todo-item .main-info .checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.todo-list .todo-item .main-info .checkbox .checkmark {
  position: absolute;
  top: -0.7rem;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #ddd;
  border-radius: 50%;
}

@media (hover: hover) {
  .todo-list .todo-item .main-info .checkbox:hover .checkmark {
    background-color: #ccc;
  }
}

.todo-list .todo-item .main-info .todo-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.todo-list .todo-item .main-info .category {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.todo-list .todo-item .more-info {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.todo-list .todo-item .more-info.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 500px;
  padding: 0.5rem 1rem;
}

.todo-list .todo-item .more-info .date-and-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.todo-list .todo-item .more-info .date-and-details .date-due {
  padding: 0.4rem 0;
}

.todo-list .todo-item .more-info .date-and-details .date-due span {
  font-weight: 700;
}

.todo-list .todo-item .more-info .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-left: 1rem;
}

.todo-list .todo-item .more-info .tag-list h3 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  width: 100%;
}

.todo-list .todo-item .more-info .tag-list .tag {
  background-color: #cd7f02;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  color: white;
  font-weight: 700;
}

.todo-list .todo-item.done .main-info .checkbox .checkmark {
  background-color: #4ad253;
}

.todo-list .todo-item.done .main-info .checkbox .checkmark::after {
  content: "✓";
  color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
}

footer {
  background-color: black;
  color: white;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */